body {
  margin: 0 auto;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  width: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color:black;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 52px 0 47px;
}


.nav-bar {
  display: flex;
  gap: 33px;
}

.link {
  word-spacing: 3px;
  padding-left: 1px;
  text-underline-offset: 5px;
}

.nav-bar .link {

  list-style: circle;
}

.nav-bar .active {
  list-style: none;
}

address {
  all: initial;
}

.address {
  width: 240px;
  justify-self: end;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 5px;
}


.logo {
  width: 148px;
}

.cover {
  margin-top: 96px;
  background-image: url('../images/lotus-flower.png');
  background-repeat: no-repeat;
  background-position: center;
	background-size: 100% auto;
}

.span_block {
	display: block;
  margin-bottom: 20px;
}

.text-header {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 22px 0 47px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.description {
  padding: 87px 0 50px 47px;
  display: flex;
  align-items: center;
  gap: 110px;
}

.subline {
  color: #fff;
  font-size: 22px;
  word-spacing: 19.4px;
  line-height: 1.27;
  text-transform: uppercase;
}

button {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 22px;
  word-spacing: 4px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid currentColor;
  width: 256px;
  height: 51px;
  margin-bottom: 1px;
}

.lots li {
  width: 334px;
  height: 596px;
}

.lots {
  margin: 182px 0px 0 21px;
}

.lots-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  align-items: center;
}

.lot-background a {
  text-decoration-color:#fff;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.text-title {
  padding: 0 0 29px 41px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

.lot-background {
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100% auto;
}

.lot-film{
  background-image: url(../images/photo_film.png);
  
}

.lot-book{
  background-image: url(../images/photo_book.png);
}

.lot-painting {
  background-image: url(../images/photo_painting.png);
}

.lot-title {
  padding: 48px 25px 0 40px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: underline;
}

.lot-description {
  padding: 0 45px 48px 40px;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots > a {
  display: block;
  margin: 33px 0 0 41px;
  font-size: 20px;
  letter-spacing: 0.1px;
  word-spacing: 2px;
  text-underline-offset: 3px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 155.5px;
  gap: 20px;
}

.logo-column {
  width: 240px;
  padding-left: 70px;
}

.about-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.about-title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 106px 0 78px 0;
}

.about-text {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  word-spacing: 0.8px;
  padding-right: 38px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 181px 50px 0px 47px;
}

.footer-nav-bar,
.social {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer-nav-bar {
  padding-top: 3px;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items:center;
}

.social {
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
}

.social img {
  width: 48px;
}

.footer .address {
  width: 265px;
  justify-self: start;
}